[Desktop Entry]
Type=Application
Name=Bahamut Launcher
GenericName=Game Launcher
Comment=Install and play FINAL FANTASY XIV 1.23b on the BahamutXIV server
Exec=bahamut-launcher
TryExec=bahamut-launcher
Icon=io.github.BahamutXIV.Launcher.Tester
Terminal=false
Categories=Game;RolePlaying;
Keywords=FFXIV;Final Fantasy;Bahamut;
StartupNotify=false
SingleMainWindow=true
